<div class="container">
    <div class="row">
        <h4>Choose Location</h4>
        <select name="" id="locationSelect" (change)="OnLocationSelect($event.target.value)" class="browser-default custom-select">
            <option *ngFor="let location of locations" value={{location.LocationId}}>{{location.Name}}</option>
        </select>
    </div>
    <br/>
    <div class="row">
        <button type="button" class="btn btn-primary" [routerLink]="['/deliverySelect', {'locationId': 15}]" [disabled]="buttonsDisabled">Book In Delivery</button>
    </div>
    <br/>
    <div class="row">
        <button type="button" class="btn btn-primary" routerLink="/transfer" [disabled]="buttonsDisabled">Create Transfer</button>
    </div>
    <br/>
    <!-- <div class="row">
        <button type="button" class="btn btn-primary"  [disabled]="buttonsDisabled">Get Product Information</button>
    </div>
    <br/> -->
    
    <br/>
    <div class="row">
        <button type="button" mat-button color="primary" [disabled]="buttonsDisabled">Create Transfer</button>
    </div>
    <br/>
    <div class="row">
        <button type="button" class="btn btn-primary"  routerLink="/loanCreate" [disabled]="buttonsDisabled">Create Loan</button>
    </div>
    <br/>
    <div class="row">
        <button type="button" class="btn btn-primary" [disabled]="buttonsDisabled">Return Loan</button>
    </div>
    <br/>
    <div class="row">
        <button type="button" class="btn btn-primary" routerLink="/saleCreate" [disabled]="buttonsDisabled">Create Sale</button>
    </div>
    <br/>
    <br/>
</div>
